<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter Bot Checker</title>
  <link rel="stylesheet" href="../static/index.css">
  <script>
    async function sendData(event) {
      event.preventDefault(); 

      const userInput = {
        screen_name: document.getElementById("screen_name").value
      };

      try {
        const response = await fetch('/predict', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(userInput),
        });

        const data = await response.json();
        if (response.ok) {
          document.getElementById("result").innerText = `Is Bot: ${data.bot_status}`;
        } else {
          document.getElementById("result").innerText = `Error: ${data.error}`;
        }
      } catch (error) {
        console.error('Error:', error);
        document.getElementById("result").innerText = 'Error: Could not connect to the backend.';
      }
    }
  </script>
</head>
<body>
  <h1>Twitter Bot Checker</h1>
  <form id="bot-check-form" onsubmit="sendData(event)">

    <label for="screen_name">Screen Name:</label><br>
    <input type="text" id="screen_name" name="screen_name"><br><br>

    <button type="submit">Check Bot</button>
  </form>

  <p id="result"></p>
</body>
</html>
